<% provide(:title, "About") %>
<h1>卓球ファンコミュニティとは</h1>
<p>
  <a href="https://railstutorial.jp/"></a>
  <a href="https://railstutorial.jp/#ebook"></a>
  <a href="https://railstutorial.jp/#screencast"></a>
  <a href="http://rubyonrails.org/"></a>
  
  
  アマチュア卓球クラブチームの情報交換を中心に、
  大会案内情報を自由に登録できる卓球専門サイトです。
  
  
</p>