<% provide(:title, "Help") %>
<h1>大会案内</h1>
<p1>現在案内中の大会です。 ご利用ください。</p1>
<p>　</p>
<p> 大会日時　７月１日（日）</p>
<p> ●平成３０年度全日本社会人卓球選手権大会新潟県予選会
  <a href="http://axelttc.web.fc2.com/result/taikai30/syakaijin.jpg" target="_blank">大会要項（jpg）</a>
</p>
<p>　</p>
<p> 大会日時　７月１５日（日）</p>
<p> ●平成３０年度新潟市南区長杯卓球大会
  <a href="http://axelttc.web.fc2.com/result/taikai30/minami.jpg" target="_blank">大会要項（jpg）</a>
</p>
<p>　</p>
<p> 大会日時　８月２６日（日）</p>
<p> ●白年愛球会夏季大会
  <a href="http://axelttc.web.fc2.com/result/taikai30/hakunen-8.jpg" target="_blank">大会要項（jpg）</a>
</p>
<p>　</p>
<p> 大会日時　９月１７日（月・祝）</p>
<p> ●第１７回長野スポーツ祭典卓球大会
  <a href="http://axelttc.web.fc2.com/result/taikai30/nagano.jpg" target="_blank">大会要項（jpg）</a>
</p>
<p>　</p>
<p>　</p>
<p1> 新潟県卓球連盟</p1>
<p> 
  <a href="http://sports.geocities.jp/niigatakentaku/jigyou/keikaku30.htm" target="_blank">大会予定・結果（リンク）</a>
</p>

