<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    
    <div class="col-md-8">
      <h3>投稿一覧</h3>
      <%= render 'shared/feed' %>
    </div>
    
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>卓球ファンコミュニティ</h1>

    <h2>
      
      アマチュア卓球クラブチームの情報交換を中心に、
      大会案内情報を自由に登録できる卓球専門サイトです。
      
      
      
      <!--This is the home page for the
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application.-->
    </h2>

    <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  
  <!--img alt="Rails logo" src="publicdomainq-0014567jgt.jpg" /-->
  <%= image_tag("publicdomainq-0014567jgt.jpg")%>
<% end %>