<% provide(:title, "ログイン") %>
<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :パスワード %>
      <%= link_to "(パスワード再設定)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>コンピューターにアカウント情報を記録</span>
      <% end %>
      
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p>アカウントをお持ちでない方！！  <%= link_to "ユーザー登録", signup_path %></p>
  </div>
</div>