<h1>卓球ファンコミュニティ</h1>

<p>こんにちは</p>

<p><%= @user.name %></p>
<p>さん</p>

<p>
下記のアカウント有効化をクリックして登録を完了させてください！
</p>

<%= link_to "アカウント有効化", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>