<h1>卓球ファンコミュニティ</h1>
<h1>パスワードのリセット</h1>
<p>パスワードをリセットするには、下のパスワードリセットをクリックしてください:</p>

<%= link_to "パスワードリセット", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクは、2時間後に期限切れになります。</p>

<p>
パスワードリセットをしない場合は、このメールを無視してください、その場合パスワードは変更されません。
</p>