卓球ファンコミュニティ

パスワードのリセット

パスワードをリセットするには、下のURLをクリックしてください:

このリンクは、2時間後に期限切れになります。
パスワードリセットをしない場合は、このメールを無視してください、その場合パスワードは変更されません。

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>


