<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    
    <%= time_ago_in_words(micropost.created_at) %>前に投稿
    <!--Posted <!--%= time_ago_in_words(micropost.created_at) %> ago.-->
    
    
    <% if current_user?(micropost.user) %>
      <%= link_to "削除", micropost, method: :delete,
                                       data: { confirm: "投稿を削除しますか？" } %>
    <% end %>
  </span>
</li>