<footer class="footer">
  <small>
    This application is developed by Teruhiko Koide
    
    
    <!--The <a href="https://railstutorial.jp/">卓球ファンコミュニティ</a-->
    <!--by <a href="http://www.michaelhartl.com/">小出　輝彦</a-->
  </small>
  <nav>
    <ul>
      <li><%= link_to "卓球ファンコミュニティとは",   about_path %></li>
      <li><%= link_to "", contact_path %></li>
      <li><a href="http://news.railstutorial.org/"></a></li>
    </ul>
  </nav>
</footer>