<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    
    <%= link_to "卓球ファンコミュニティ", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path,  id: "hhh" %></li>
        <li><%= link_to "大会案内", help_path, id: "hhh" %></li>
        <% if logged_in? %>
          <li><%= link_to "ユーザー", users_path,  id: "hhh" %></li>
          <li class="dropdown">
            <a href="#" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" %>
              アカウント<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "プロフィール", current_user,  id: "bbb" %></li>
              <li><%= link_to "ユーザー設定", edit_user_path(current_user),  id: "bbb" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete ,  id: "bbb"%>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path,  id: "hhh" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>